    
                     
        </div>


<!-------------------------------------------------- Developer Contact ------------------------------------------------->



        <div class="contact" id="contact">
            <h6><img src="img/phone.png" alt="">6354974476  </h1>
            <h6><img src="img/mail.png" alt="">rajpurohityogesh50@gmail.com</h1>
            <h6><img src="img/linkedin.png" alt=""><a href="https://www.linkedin.com/in/yogesh-singh-rajpurohit-a09b93192">Visit My Profile</a> </h1>
            <h5>&#169 2020 Spark Foundation All Rights Reserverd</h5>
        </div>

        
        
    </body>
</html>

